<div class="job-queue-container">
  <h2>Job Queue</h2>
  <div class="job-container">
    <!-- TODO: Add functionality (use of ngFor recommended to loop through and print active jobs)   -->
    <button type="button" *ngIf="status" style="border: 3px solid red;">Pickup: {{pickup}}<br />
      Destination:
      <br />
      Driver: 
    </button>
    <button type="!button" *ngIf="!status" style="border: 3px solid green;">Pickup: {{pickup}}<br />
      Destination:
      <br />
      Driver: 
    </button>
    <!-- both of these button tags create the buttons but based on the status of the job, 
      it wil be green or red. The status of the job is a boolean located in queue.component.ts-->
  </div>
</div>

