<button type="button" mat-button (click)="navigateToDispatchMainPageComponent()"><mat-icon>arrow_back_ios</mat-icon></button>
<div style="text-align: center;">
<h1>Dispatcher Options</h1>
<h2>1. Review Details.</h2>
<h3>Pickup: {{job.pickupAddress}}</h3>
<h4>Destination: {{job.destinationAddress}}</h4>
<h4>Job ID: {{job.jobId}}</h4>
<p>Pickup Time: {{job.pickupTime}} | Dropoff Time: {{job.dropOffTime}}</p>
<p>No. of Passengers: {{job.numPassengers}}</p>
<p>Status: {{job.status}}</p>
<p>Requester:  Contact Information: </p>
<h2>2. Choose Driver. Display the drivers from the driver class.</h2>
<button type="button" style="background-color:goldenrod"><p style="color:white">Call Requester.</p></button>
<br>
<button type="button" mat-button (click)="navigateToDispatchMainPageComponent()" style="background-color:forestgreen"><p style="color:white">Confirm Trip.</p></button>
<p *ngFor="let driver of driverStatus.getDrivers()">{{driver.name}}, {{driver.status}}</p>
</div>


